@import url('https://fonts.googleapis.com/css?family=Titillium+Web');


* {
    font-family: 'Titillium Web', sans-serif !important;
    font-size: 1.01em;
    text-align: justify;
}

h2, h3, h4, .wiki h1, .wiki h2, .wiki h3 {
    border-bottom: 0px;
    color: #214989;
    padding-left: 13px;
}
.child .project.child.leaf.my-project {
    color: #7d7d7d;
    margin-left: 50px;
    border: 0px;
    border-left: #ccc solid 6px;
}
#top-menu {
    background: #21892e;;
    padding: 10px 10px 5px 10px;
    font-family: 'Titillium Web', sans-serif;
    font-size: 1.0em; 
}
#header {
    padding-bottom: 2px;
    padding-top: 10px;
    padding-left: 10px;
    /* background-position-y: 11%; */
    background: #efefef;
    min-height: initial;
    color: #000 !important;
    border-bottom: 1px #ddd solid;
}
#header a {
    color: #214989;
}
#header > h1 {
    background: #fff;
    padding: 5px 65px 0 10px;
    color: #214989;
    text-shadow: none;
    font-size: 20px;
    font-weight: lighter;
    display: flex;
    min-height: 66px;
}

#header h1 a.ancestor {
    font-size: unset;
}

div#content > h2, div#content h2.contacts_header, div#content > div.filters h2, div#content > #add-news > h2, div#content > #add-message > h2, div#content > .message.details > h2, div#content > .board.details > h2, div#content > #add-document > h2, .controller-projects.action-index div#content  h2:first-of-type {
    /* border-top: 1px solid white; */
    /* border-bottom: 1px solid #AECCD7; */
    background: #f2f2f2;
    text-shadow: 0px 1px white;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    -webkit-border-top-left-radius: 0;
    -webkit-border-top-right-radius: 0;
    -moz-border-radius-topleft: 0;
    -moz-border-radius-topright: 0;
    padding: 12px 20px;
    /* margin: -6px -10px 10px; */
    /* letter-spacing: -1px; */
    color: #444;
    font-family: 'Titillium Web', sans-serif;
    font-weight: lighter;
}
#content, #main.nosidebar #content {
    background: #fff;
    border: 1px solid silver;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.05);
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
}

#quick-search {
    margin-top: 0;
    margin-left: 10px;
    border: 1px solid #cecece;
    padding: 10px;
    display:none;
}

#quick-search form {
    display: block;
}

#quick-search #q, select#project_quick_jump_box {
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    box-shadow: unset;
    -moz-box-shadow: unset;
    -webkit-box-shadow: unset;
    outline: none;
    padding: 3px 10px !important;
    border: 1px solid #C3C3C3;
}

#quick-search #q, select#project_quick_jump_box {
    width: 86%;
}

select#project_quick_jump_box {
    width: 100%;
}

div#content > div.contextual {
    margin-top: 16px;
    margin-right: 10px;
    font-family: 'Titillium Web', sans-serif;
}

#main {
    background: transparent;
    margin: 46px 15px 0px 15px;
}

#main-menu {
    left: 0px;
    width: 100%;
    height: 40px;
    /* overflow: hidden; */
    background: #d4e9f4;
    top: 96px;
}

#main-menu li a {
    background-color: transparent !important;
    display: block;
    float: left;
    padding: 6px 12px;
    color: #444;
    text-shadow: unset;
    font-weight: normal;
    text-decoration: none;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
}

.box {
    background-color: #fcfcfc;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    padding: 16px;
}

#sidebar {
    width: 260px !important;
    padding: 0px 10px 20px 15px !important;
    background: #fff;
    border: 2px dotted #D9D9D9;
    zoom: 1;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.05);
}

 .project {
    border-left: 6px solid #5d9a63;
    padding: 2px;
    padding-left: 10px !important;
    background: #f9f9f9;
}

h2, .wiki h1 {
    font-size: initial;
}

#content h1, h2, h3, h4 {
    font-size: initial;
}

.datagrid table thead th {
    background-color: #006699;
    color: #FFFFFF;
    font-size: 1.05em;
    font-weight: lighter;
    border-left: 1px solid #bec7e2;
}

#projects-index h2 {
    border: 1px solid #ccc;
    padding: 6px;
    margin: 0;
    color: #76a368;
    font-weight: lighter;
    font-size: 2.0em;
}

.datagrid {
    font: normal 12px/150% Arial, Helvetica, sans-serif;
    background: #fff;
    overflow: hidden;
    border: 1px solid #ccc;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    margin-bottom: 10px;
}

.datagrid table tbody .alt td {
    background: #eee;
    color: #333;
}
#top-menu a {
    color: #fff;
    margin-right: 30px;
    font-weight: bold;
}
#header > h1 {
    color: transparent;
    background: url(http://www.stratebi.cat/website/image/ir.attachment/15443_1039387/datas);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
}
a, a:link, a:visited {
    color: #5d9a63;
    text-decoration: none;
}
.project {
    padding: 4px;
}
li p {
    margin-top: 8px;
    color: #999;
    font-style: oblique;
}
#header a {
    color: #4c8921;
}
#main-menu {
    left: 0px;
    width: 100%;
    height: 30px;
    /* overflow: hidden; */
    background: #efeff0;
    top: 93px;
    font-size: 14px;
    font-weight: bold;
}
img.gravatar{
    display:none;
}
div.issue{
        background: #eff8ec;
}
div.issues h3 {
    background: url(../images/ticket.png) no-repeat 0% 50%;
    padding-left: 20px;
    display: none;
}
div#content > div.contextual {
    margin-top: 28px;
    margin-right: 10px;
}